<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Set up a new password for [Product Name]</title>
  </head>
   <body>
      <div width="100%" marginwidth="0" marginheight="0" bgcolor="#eeeeee"> 
            <center> 
              <table border="0" cellpadding="0" cellspacing="0" width="600" id="m_-7089816052815953843m_3946853716047191176bodyTable"> 
                <tbody>
                  <tr> 
                    <td align="center"> 
                      <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-7089816052815953843m_3946853716047191176emailContainer" style="max-width:550px"> 
                        
                        <tbody>
                          <tr> 
                            <td align="center" valign="top"> 
                              <img src="https://ci5.googleusercontent.com/proxy/VQ6Coth3IfkHyiVeDDxnfJyDrfa0E0ulU6L3CkxJf2i7MaF8cAI12LTuyngcSUcIJXK4dmJM52abfI-LLJSyZmDdjiGhxqLG9rhL7G4TyPTYeEd7JyG3zK9ed_ykE5HVDcnFCCijwlOH54HqFm67Q1gQ10Yy69qn0n9Bi9k=s0-d-e1-ft#https://gallery.mailchimp.com/5b7ae340fda0cd59db42e1454/images/21996083-771a-4429-9304-7d627ecbaac1.png" alt="AdnHris" width="100%" style="display:block" border="0" class="m_-7089816052815953843m_3946853716047191176headerImage m_-7089816052815953843CToWUd CToWUd"> 
                              </td> 
                          </tr> 
                          <tr> 
                            <td bgcolor="#299781" style="padding-bottom:30px"> 
                              <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-7089816052815953843m_3946853716047191176emailContentContainer" bgcolor="#299781"> 
                                <tbody>
                                  <tr> 
                                    <td align="center" valign="top" width="100%"> 
                                      <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%" style="margin-top:30px;max-width:510px;border-top:5px solid #b0f0e1" class="m_-7089816052815953843m_3946853716047191176emailContent"> 
                                        
                                        <tbody>
                                          <tr> 
                                            <td style="font-family:'Open Sans',sans-serif;font-weight:400;line-height:28px;font-size:22px;padding:30px 30px 15px;text-align:left" class="m_-7089816052815953843m_3946853716047191176emailBody">  Password Reset Request </td> 
                                          </tr> 
                                          <tr> 
                                            <td bgcolor="#ffffff" style="font-family:'Open Sans',sans-serif;font-size:12px;padding:10px 30px;text-align:left" align="center" class="m_-7089816052815953843m_3946853716047191176emailBody"> Dear AdnHris User, </td> 
                                          </tr> 
                                          <tr> 
                                            <td bgcolor="#ffffff" style="font-family:'Open Sans',sans-serif;font-size:12px;padding:10px 10px 20px 30px;text-align:left" align="center" class="m_-7089816052815953843m_3946853716047191176emailBody"> We have received your request to reset your password. Please click the link below to complete the reset: </td> 
                                          </tr> 
                                          <tr>
                                            <td width="100%" bgcolor="#ffffff" style="font-family:'Open Sans',sans-serif;font-size:12px;padding:10px 0 30px 0;text-align:center" align="center" class="m_-7089816052815953843m_3946853716047191176emailBody">
                                              <table width="60%" border="0" cellpadding="0" cellspacing="0" style="margin:0 auto" align="center">
                                                <tbody>
                                                  <tr>
                                                    <td align="center" bgcolor="#299781" width="10%" style="border-radius:5px"> 
                                                      <a href="{{action_url}}" target="_blank"> Reset My Password </a> 
                                                    </td>
                                                  </tr>
                                                </tbody>
                                              </table>
                                            </td>
                                          </tr>
                                          <tr> 
                                            <td bgcolor="#ffffff" style="font-family:'Open Sans',sans-serif;font-size:12px;padding:0px 30px;text-align:left" align="center" class="m_-7089816052815953843m_3946853716047191176emailBody"> If you need additional assistance, or you did not make this change, please contact <a href="mailto:help@getAdnHris.com" style="font-family:verdana,geneva,sans-serif;color:#299781;text-decoration:none" target="_blank">help@adnhris.com</a>. <br> <br> </td> 
                                          </tr> 
                                          <tr> 
                                            <td bgcolor="#ffffff" style="font-family:'Open Sans',sans-serif;font-size:12px;padding:0px 0px 20px 30px;text-align:left" align="center" class="m_-7089816052815953843m_3946853716047191176emailBody"> The AdnHris Team </td> 
                                          </tr> 
                                          <tr> 
                                            <td> 
                                              <table bgcolor="#f3f3f3" border="0" cellpadding="0" cellspacing="0" width="100%"> 
                                                <tbody>
                                                  <tr> 
                                                    <td style="font-family:'Open Sans',sans-serif;font-size:10px;padding:25px 30px 5px 30px" class="m_-7089816052815953843m_3946853716047191176emailFooter"> © 2018 Adn Group Inc., All Rights Reserved. </td> 
                                                  </tr> 
                                                  <tr> 
                                                    <td style="font-family:'Open Sans',sans-serif;font-size:10px;padding:10px 30px 20px 30px" class="m_-7089816052815953843m_3946853716047191176emailFooter"> Our mailing address is:<br> Adn Group, <a href="https://maps.google.com/" target="_blank" data-saferedirecturl="https://www.google.com/url?hl=en&amp;q=https://maps.google.com/&amp;source=gmail&amp;ust=1526122927611000&amp;usg=AFQjCNGAWPUrDMH07tKnh9CqOQFmiw-X-w">Adb Address</a> </td> 
                                                  </tr> 
                                                </tbody>
                                              </table> 
                                            </td> 
                                          </tr> 
                                        </tbody>
                                      </table> 
                                      </td> 
                                  </tr> 
                                </tbody>
                              </table> 
                              </td> 
                          </tr> 
                        </tbody>
                      </table> 
                      </td> 
                  </tr> 
                </tbody>
              </table> 
            </center>
      </div>
</body>
</html>
